.header, .content {
    padding-left: 2em;
    padding-right: 2em;
}
.header h1{
    text-align: center;
}
.content {
    max-width:1024px;
    margin: 2em auto 2em auto;
}
.content div.buttons{
    margin: 1em auto 1em auto;
    text-align:center;
}
.content table {
    margin: 0em auto 0em auto;

}
