<div class="container">
    <h1>Login</h1>
    <form>
        <div class="alert alert-info" ng-if="use_cookies">The remember me option is enable, so your api key will be stored in a cookie.</div>
        <div class="alert alert-danger" data-ng-repeat="message in errors.non_field_errors">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{message}}
        </div>
        <fieldset>
            <div data-ng-class="{'form-group': true, 'has-error': errors.username}">
                <label class="control-label" for="login">Login</label>
                <div class="label label-danger" data-ng-repeat="message in errors.username">{{message}}</div>
                <input class="form-control" type="text" data-ng-model="username"/>
            </div>

            <div data-ng-class="{'form-group': true, 'has-error': errors.password}">
                <label class="control-label" for="password">Password</label>
                <div class="label label-danger" data-ng-repeat="message in errors.password">{{message}}</div>
                <input class="form-control" type="password" data-ng-model="password"/>
            </div>
            <div class="form-group">
                <input type="button" ng-click="use_cookies=!use_cookies" data-ng-class="{'btn':true, 'btn-default':true, 'active': use_cookies}" value="Remember me"/>
                <input type="submit" class="btn btn-primary" data-ng-click="login()" value="Login"/>
            </div>
        </fieldset>
    </form>
</div>
