<div class="container">
    <h1>Timesheets</h1>
    <a class="btn btn-primary" href="#/timesheet/new">New Timesheet</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Month</th>
                <th>Customer</th>
                <th>Project</th>
                <th>Company</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="timesheet in timesheets">
            <td>{{timesheet.id}}</td>
            <td>{{timesheet.month}}</td>
            <td>{{timesheet.customer_name}}</td>
            <td>{{timesheet.project_name}}</td>
            <td>{{timesheet.company_name}}</td>
            <td></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-xs btn-default" data-ng-click="open(timesheet.id)"><i class="glyphicon glyphicon-folder-open"></i></a>
                    <a data-ng-class="{
                        'btn':true,
                        'btn-xs':true,
                        'btn-default': !timesheet.is_locked || !$root.user.is_staff,
                        'btn-warning': timesheet.is_locked && $root.user.is_staff,
                        'disabled': timesheet.is_locked && !$root.user.is_staff}">
                        <i class="glyphicon glyphicon-lock"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
