<div class="header">
    <h1>Timesheets</h1>
</div>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Month</label>
            <select name="month">
                <option data-ng-repeat='(i, m) in month' ng-selected="i == thismonth" value="{{i}}">{{m}}</option>
            </select>
            <select name="year">
                <option data-ng-repeat="y in years" ng-selected="y == currentyear" value="{{y}}">{{y}}</option>
            </select>
        </div>

        <div class="pure-control-group">
            <label for="password">Customer</label>
            <select ng-model="customer.id">
                <option data-ng-repeat="c in customers" value="{{c.id}}">{{c.name}}</option>
            </select>
        </div>

        <div class="pure-control-group">
            <label for="email">Project</label>
            <select ng-model="project">
                <option data-ng-repeat="p in projects|filter:customer" value="{{p.id}}">{{p.name}}</option>
            </select>
        </div>

        <div class="pure-control-group">
            <label for="foo">Note</label>
            <input id="foo" type="text" placeholder="Enter something here...">
        </div>
        {{customer.id}}{{project}}

        <div class="pure-controls">

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
