<div class="header">
    <h1>Timesheets</h1>
</div>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Month</label>
            <select data-ng-model="timesheet.month">
                <option data-ng-repeat='(i, m) in month' ng-selected="i == thismonth" value="{{i}}">{{m}}</option>
            </select>
            <select data-ng-model="timesheet.year">
                <option data-ng-repeat="y in years" ng-selected="y == currentyear" value="{{y}}">{{y}}</option>
            </select>
        </div>

        <div class="pure-control-group">
            <label for="password">Customer</label>
            <select ng-model="customer.id">
                <option data-ng-repeat="c in customers" value="{{c.id}}">{{c.name}}</option>
            </select>
        </div>

        <div class="pure-control-group">
            <label data-ng-style='styles["project"]' for="email">Project</label>
            <select ng-model="timesheet.project">
                <option data-ng-repeat="p in projects|filter:customer" value="{{p.id}}">{{p.name}}</option>
            </select>
        </div>

        <div class="pure-controls">

            <a type="submit" class="pure-button pure-button-primary" data-ng-click="create()">Submit</a>
        </div>
    </fieldset>
</form>
