.cell
  %h1 Timesheet
.cell
  %table.border
    %tr
      %td Customer:
      %td
        {{timesheet.customer_name}}
      %td Project:
      %td
        {{timesheet.project_name}}
    %tr
      %td Month:
      %td
        {{timesheet.month}}/{{timesheet.year}}
      %td User:
      %td
        {{timesheet.user_name}}
.cell.panel{'data-ng-if': 'timesheet.locked'}
  .header.background-orange
    This timesheet is locked.
.cell.panel{'data-ng-if': '!timesheet.locked'}
  .header
    Add a task
  .body
    %form
      .cell
        .col
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.day}', placeholder: 'Day', 'data-ng-model': 'newhour.day'}
          .col.width-6of12
            .cell
              %input.text.width-11of12{'data-ng-class': '{"invalid":errors.day}', placeholder: 'Task', 'data-ng-model': 'newhour.task'}
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.day}', placeholder: '100%', 'data-ng-model': 'newhour.hours'}
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.day}', placeholder: '150%', 'data-ng-model': 'newhour.hours150'}
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.day}', placeholder: '200%', 'data-ng-model': 'newhour.hours200'}
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.day}', placeholder: 'Travel', 'data-ng-model': 'newhour.hourstravel'}
          .col.width-1of12
            .cell
              %a.button.width-8of12{'data-ng-click': 'add()'}
                Add
.cell
  .body
    <table class="datasheet">
      <thead>
        <tr>
          <th>Day</th>
            <th>Message</th>
            <th>100%</th>
            <th>150%</th>
            <th>200%</th>
            <th>Travel</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="hour in hours|orderBy:['day','id']">
          <td class="text-center ">{{hour.day}}</td>
            <td class="text-center width-fill">{{hour.task}}</td>
            <td class="text-center ">{{hour.hours}}</td>
            <td class="text-center ">{{hour.hours150}}</td>
            <td class="text-center ">{{hour.hours200}}</td>
            <td class="text-center ">{{hour.hourstravel}}</td>
            <td class="text-center ">
              <div class="btn-group">
                <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete()"><i class="glyphicon glyphicon-edit"></i></a>
                  <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete()"><i class="glyphicon glyphicon-retweet"></i></a>
                    <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete(hour)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
          <td class="text-center " data-ng-bind="hours.length + ' entries'"></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center ">
              <a data-ng-click="lock(timesheet)" data-ng-class="{
                'background-orange': timesheet.locked,
                  'disabled': timesheet.locked && !$root.user.is_staff}">
                    <span data-ng-class="{'icon':true, 'icon-lock':timesheet.locked, 'icon-unlock': !timesheet.locked}"></span>
                      </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

