<div class="container">
    <h1>Timesheet</h1>
    <table class="table">
        <tr><td>Customer:</td><td>{{timesheet.customer_name}}</td><td>Project:</td><td>{{timesheet.project_name}}</td></tr>
        <tr><td>Month:</td><td>{{timesheet.month}}</td><td>User:</td><td>{{timesheet.user_name}}</td></tr>
    </table>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="col-md-1">Day</td>
            <th class="col-md-5">Message</td>
            <th class="col-md-1">100%</td>
            <th class="col-md-1">150%</td>
            <th class="col-md-1">200%</td>
            <th class="col-md-1">Travel</td>
            <th class="col-md-2">Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="hour in hours">
            <td class="col-md-1">{{hour.day}}</td>
            <td class="col-md-5">{{hour.task}}</td>
            <td class="col-md-1">{{hour.hours}}</td>
            <td class="col-md-1">{{hour.hours150}}</td>
            <td class="col-md-1">{{hour.hours200}}</td>
            <td class="col-md-1">{{hour.hourstravel}}</td>
            <td class="col-md-2">
                <div class="btn-group">
                    <a class="btn btn-default" data-ng-click="delete()"><i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn btn-default" data-ng-click="delete()"><i class="glyphicon glyphicon-retweet"></i></a>
                    <a class="btn btn-default" data-ng-click="delete()"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-1"><input class="form-control" data-ng-model="hour.day"></td>
            <td class="col-md-5"><input class="form-control" data-ng-model="hour.task"></td>
            <td class="col-md-1"><input class="form-control" data-ng-model="hour.hours"></td>
            <td class="col-md-1"><input class="form-control" data-ng-model="hour.hours150"></td>
            <td class="col-md-1"><input class="form-control" data-ng-model="hour.hours200"></td>
            <td class="col-md-1"><input class="form-control" data-ng-model="hour.hourstravel"></td>
            <td class="col-md-2">
            <div class="btn-group">
                <a class="btn btn-default" data-ng-click="add()"><i class="glyphicon glyphicon-ok-circle"></i></a>
                <a class="btn btn-default" data-ng-click="hour.day=hour.day+1"><i class="glyphicon glyphicon-forward"></i></a>
            </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

