<div class='cell'>
  <h1>Timesheet</h1>
</div>
<div class='cell'>
  <table class='border'>
    <tr>
      <td>Customer:</td>
      <td>
        {{timesheet.customer_name}}
      </td>
      <td>Project:</td>
      <td>
        {{timesheet.project_name}}
      </td>
    </tr>
    <tr>
      <td>Month:</td>
      <td>
        {{timesheet.month}}/{{timesheet.year}}
      </td>
      <td>User:</td>
      <td>
        {{timesheet.user_name}}
      </td>
    </tr>
  </table>
</div>
<div class='cell panel' data-ng-if='timesheet.locked'>
  <div class='header background-orange'>
    This timesheet is locked.
  </div>
</div>
<div class='cell panel' data-ng-if='!timesheet.locked'>
  <div class='header'>
    Add a task
  </div>
  <div class='body'>
    <div class='col'>
     <div class='cell'>
       <form>
          <div class='col width-1of12'>
            <div class='cell'>
              <input class='text width-10of12' data-ng-class='{"invalid":errors.day}' placeholder='Day' data-ng-model='newhour.day' />
            </div>
          </div>
          <div class='col width-6of12'>
            <div class='cell'>
              <input class='text width-11of12' data-ng-class='{"invalid":errors.task}' placeholder='Task' data-ng-model='newhour.task' />
            </div>
          </div>
          <div class='col width-1of12'>
            <div class='cell'>
              <input class='text width-10of12' data-ng-class='{"invalid":errors.hours}' placeholder='100%' data-ng-model='newhour.hours' />
            </div>
          </div>
          <div class='col width-1of12'>
            <div class='cell'>
              <input class='text width-10of12' data-ng-class='{"invalid":errors.hours150}' placeholder='150%' data-ng-model='newhour.hours150' />
            </div>
          </div>
          <div class='col width-1of12'>
            <div class='cell'>
              <input class='text width-10of12' data-ng-class='{"invalid":errors.hours200}' placeholder='200%' data-ng-model='newhour.hours200' />
            </div>
          </div>
          <div class='col width-1of12'>
            <div class='cell'>
              <input class='text width-10of12' data-ng-class='{"invalid":errors.hourstravel}' placeholder='Travel' data-ng-model='newhour.hourstravel' />
            </div>
          </div>
          <div class='col width-1of12'>
            <div class='cell'>
              <a class='button width-8of12' data-ng-click='add()'>
                Add
              </a>
            </div>
          </div>
        <div class='col'>
          <div class='col width-11of12'>
            <div class='cell'>
              <div class='label background-red' data-ng-repeat='message in errors.non_field_errors'>
                {{message}}
              </div>
              <div class='label background-red' data-ng-repeat='message in errors.day'>
                Day: {{message}}
              </div>
              <div class='label background-red' data-ng-repeat='message in errors.task'>
                Task: {{message}}
              </div>
              <div class='label background-red' data-ng-repeat='message in errors.hours'>
                100%: {{message}}
              </div>
              <div class='label background-red' data-ng-repeat='message in errors.hours150'>
                150%: {{message}}
              </div>
              <div class='label background-red' data-ng-repeat='message in errors.hours200'>
                200%: {{message}}
              </div>
              <div class='label background-red' data-ng-repeat='message in errors.hourstravel'>
                Travel: {{message}}
              </div>
            </div>
          </div>
        </div>
       </form>
     </div>
    </div>
  </div>
</div>
<div class='cell panel'>
  <div class='header'>
    Monthly Time Report
  </div>
  <div class='body'>
      <table class='datasheet'>
        <tr>
          <td>
            <div class='label float-right background-blue'>
              100%
            </div>
            <div class='label float-right background-orange'>
              150%
            </div>
            <div class='label float-right background-red'>
              200%
            </div>
            <div class='label float-right background-green'>
              Travel
            </div>
            <div class='label float-left background-blue'>
              Day
            </div>
          </td>
        </tr>
        <tr data-ng-repeat='hour in hours|orderBy:["day","id"]'>
          <td data-ng-if='!hour.edit' data-ng-click='hour.edit=!hour.edit'>
           <div class='label float-right background-blue' data-ng-if='hour.hours'>
             {{hour.hours}}
           </div>
           <div class='label float-right background-orange' data-ng-if='hour.hours150'>
             {{hour.hours150}}
           </div>
           <div class='label float-right background-red' data-ng-if='hour.hours200'>
             {{hour.hours200}}
           </div>
           <div class='label float-right background-green' data-ng-if='hour.hourstravel'>
             {{hour.hourstravel}}
           </div>
           <div class='label float-left background-blue'>
             {{hour.day}}
           </div>
           {{hour.task}}
          </td>
          <td data-ng-if='hour.edit'>
           <form>
             <div class='cell'>
              <div class='col width-1of12'>
                <div class='cell'>
                  <input class='text background-blue width-10of12' data-ng-class='{"invalid":errors.day}' placeholder='Day' data-ng-model='hour.day' />
                </div>
              </div>
              <div class='col width-6of12'>
                <div class='cell'>
                  <input class='text width-11of12' data-ng-class='{"invalid":errors.task}' placeholder='Task' data-ng-model='hour.task' />
                </div>
              </div>
              <div class='col width-1of12'>
                <div class='cell'>
                  <input class='text background-blue width-10of12' data-ng-class='{"invalid":errors.hours}' placeholder='100%' data-ng-model='hour.hours' />
                </div>
              </div>
              <div class='col width-1of12'>
                <div class='cell'>
                  <input class='text background-orange width-10of12' data-ng-class='{"invalid":errors.hours150}' placeholder='150%' data-ng-model='hour.hours150' />
                </div>
              </div>
              <div class='col width-1of12'>
                <div class='cell'>
                  <input class='text background-red width-10of12' data-ng-class='{"invalid":errors.hours200}' placeholder='200%' data-ng-model='hour.hours200' />
                </div>
              </div>
              <div class='col width-1of12'>
                <div class='cell'>
                  <input class='text background-green width-10of12' data-ng-class='{"invalid":errors.hourstravel}' placeholder='Travel' data-ng-model='hour.hourstravel' />
                </div>
              </div>
              <div class='col width-1of12'>
                <div class='cell'>
                 <a class='button width-6of12' data-ng-click='updatehour(hour)'>
                   Edit
                 </a>
                 <a class='button width-6of12' data-ng-click='deletehour(hour)'>
                   Delete
                 </a>
                </div>
              </div>
             </div>
           </form>
          </td>
        </tr>
        <tr>
          <td>
            <div class='label float-right background-blue' data-ng-bind='hours.sum("hours") + "h (" + hours.sum("hours")/8 +" d)"' data-ng-if='hours.sum("hours") > 0'></div>
            <div class='label float-right background-orange' data-ng-bind='hours.sum("hours150") + "h (" + hours.sum("hours150")/8 +" d)"' data-ng-if='parseFloat(hours.sum("hours150")) > 0'></div>
            <div class='label float-right background-red' data-ng-bind='hours.sum("hours200") + "h (" + hours.sum("hours200")/8 +" d)"' data-ng-show='hours.sum("hourstravel") > 0'></div>
            <div class='label float-right background-green' data-ng-bind='hours.sum("hourstravel") + "h (" + hours.sum("hourstravel")/8 +" d)"' data-ng-show='hours.sum("hourstravel") > 0'></div>
            <div class='label float-right background-black'>
              Total

            </div>
          </td>
        </tr>
      </table>
  </div>
</div>
