.cell
  %h1 Timesheet
.cell
  %table.border
    %tr
      %td Customer:
      %td
        {{timesheet.customer_name}}
      %td Project:
      %td
        {{timesheet.project_name}}
    %tr
      %td Month:
      %td
        {{timesheet.month}}/{{timesheet.year}}
      %td User:
      %td
        {{timesheet.user_name}}
.cell.panel{'data-ng-if': 'timesheet.locked'}
  .header.background-orange
    This timesheet is locked.
.cell
  .body
    <table class="datasheet">
      <thead>
        <tr>
          <th>Day</th>
            <th>Message</th>
            <th>100%</th>
            <th>150%</th>
            <th>200%</th>
            <th>Travel</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="hour in hours|orderBy:['day','id']">
          <td class="text-center ">{{hour.day}}</td>
            <td class="text-center width-fill">{{hour.task}}</td>
            <td class="text-center ">{{hour.hours}}</td>
            <td class="text-center ">{{hour.hours150}}</td>
            <td class="text-center ">{{hour.hours200}}</td>
            <td class="text-center ">{{hour.hourstravel}}</td>
            <td class="text-center ">
              <div class="btn-group">
                <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete()"><i class="glyphicon glyphicon-edit"></i></a>
                  <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete()"><i class="glyphicon glyphicon-retweet"></i></a>
                    <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete(hour)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
          <td class="text-center ">
            <input placeholder="Day" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.day">
            </td>
            <td class="text-center ">
              <input placeholder="What are you doing?" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.task">
            </td>
            <td class="text-center ">
              <input placeholder="100%" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.hours">
            </td>
            <td class="text-center ">
              <input placeholder="150%" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.hours150">
            </td>
            <td class="text-center ">
              <input placeholder="200%" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.hours200">
            </td>
            <td class="text-center ">
              <input placeholder="Travel" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.hourstravel">
            </td>
            <td class="text-center ">
            <div class="bouton-group">
              <a data-ng-class="{'background-grey': timesheet.locked}" data-ng-click="add()"><span class="icon icon-plus"></span></a>
                <a data-ng-class="{'background-grey': timesheet.locked}" data-ng-click="newhour.day=newhour.day+1"><span class="icon icon-forward"></span></a>
            </div>
            </td>
        </tr>
        <tr>
          <td class="text-center " data-ng-bind="hours.length + ' entries'"></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center ">
              <a data-ng-click="lock(timesheet)" data-ng-class="{
                'background-orange': timesheet.locked,
                  'disabled': timesheet.locked && !$root.user.is_staff}">
                    <span data-ng-class="{'icon':true, 'icon-lock':timesheet.locked, 'icon-unlock': !timesheet.locked}"></span
                      </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

