<div class="container">
    <h1>Timesheet</h1>
    <table class="border">
        <tr><td>Customer:</td><td>{{timesheet.customer_name}}</td><td>Project:</td><td>{{timesheet.project_name}}</td></tr>
        <tr><td>Month:</td><td>{{timesheet.month}}/{{timesheet.year}}</td><td>User:</td><td>{{timesheet.user_name}}</td></tr>
    </table>
    <div class="label  background-red" ng-if="timesheet.locked">This timesheet is locked.</div>
    <table class="datasheet">
        <thead>
        <tr>
            <th>Day</td>
            <th>Message</td>
            <th>100%</td>
            <th>150%</td>
            <th>200%</td>
            <th>Travel</td>
            <th>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="hour in hours|orderBy:['day','id']">
            <td class="text-center ">{{hour.day}}</td>
            <td class="text-center width-fill">{{hour.task}}</td>
            <td class="text-center ">{{hour.hours}}</td>
            <td class="text-center ">{{hour.hours150}}</td>
            <td class="text-center ">{{hour.hours200}}</td>
            <td class="text-center ">{{hour.hourstravel}}</td>
            <td class="text-center ">
                <div class="btn-group">
                    <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete()"><i class="glyphicon glyphicon-edit"></i></a>
                    <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete()"><i class="glyphicon glyphicon-retweet"></i></a>
                    <a data-ng-class="{'btn': true, 'btn-default': true, 'disabled': timesheet.locked}" data-ng-click="delete(hour)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center ">
                <input placeholder="Day" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.day">
            </td>
            <td class="text-center ">
                <input placeholder="What are you doing?" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.task">
            </td>
            <td class="text-center ">
                <input placeholder="100%" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.hours">
            </td>
            <td class="text-center ">
                <input placeholder="150%" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.hours150">
            </td>
            <td class="text-center ">
                <input placeholder="200%" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.hours200">
            </td>
            <td class="text-center ">
                <input placeholder="Travel" data-ng-disabled="timesheet.locked" class="form-control" data-ng-model="newhour.hourstravel">
            </td>
            <td class="text-center ">
            <div class="bouton-group">
                <a data-ng-class="{'background-grey': timesheet.locked}" data-ng-click="add()"><span class="icon icon-plus"></span></a>
                <a data-ng-class="{'background-grey': timesheet.locked}" data-ng-click="newhour.day=newhour.day+1"><span class="icon icon-forward"></span></a>
            </div>
            </td>
        </tr>
        <tr>
            <td class="text-center " data-ng-bind="hours.length + ' entries'"></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center "></td>
            <td class="text-center ">
                <a data-ng-click="lock(timesheet)" data-ng-class="{
                    'background-orange': timesheet.locked,
                    'disabled': timesheet.locked && !$root.user.is_staff}">
                    <span data-ng-class="{'icon':true, 'icon-lock':timesheet.locked, 'icon-unlock': !timesheet.locked}"></span
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

