.cell
  %h1 Timesheet
.cell
  %table.border
    %tr
      %td Customer:
      %td
        {{timesheet.customer_name}}
      %td Project:
      %td
        {{timesheet.project_name}}
    %tr
      %td Month:
      %td
        {{timesheet.month}}/{{timesheet.year}}
      %td User:
      %td
        {{timesheet.user_name}}
.cell.panel{'data-ng-if': 'timesheet.locked'}
  .header.background-orange
    This timesheet is locked.
.cell.panel{'data-ng-if': '!timesheet.locked'}
  .header
    Add a task
  .body
    .col
     .cell
       %form
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.day}', placeholder: 'Day', 'data-ng-model': 'newhour.day'}
          .col.width-6of12
            .cell
              %input.text.width-11of12{'data-ng-class': '{"invalid":errors.task}', placeholder: 'Task', 'data-ng-model': 'newhour.task'}
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.hours}', placeholder: '100%', 'data-ng-model': 'newhour.hours'}
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.hours150}', placeholder: '150%', 'data-ng-model': 'newhour.hours150'}
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.hours200}', placeholder: '200%', 'data-ng-model': 'newhour.hours200'}
          .col.width-1of12
            .cell
              %input.text.width-10of12{'data-ng-class': '{"invalid":errors.hourstravel}', placeholder: 'Travel', 'data-ng-model': 'newhour.hourstravel'}
          .col.width-1of12
            .cell
              %a.button.width-8of12{'data-ng-click': 'add()'}
                Add
        .col
          .col.width-11of12
            .cell
              .label.background-red{'data-ng-repeat': 'message in errors.non_field_errors'}
                {{message}}
              .label.background-red{'data-ng-repeat': 'message in errors.day'}
                Day: {{message}}
              .label.background-red{'data-ng-repeat': 'message in errors.task'}
                Task: {{message}}
              .label.background-red{'data-ng-repeat': 'message in errors.hours'}
                100%: {{message}}
              .label.background-red{'data-ng-repeat': 'message in errors.hours150'}
                150%: {{message}}
              .label.background-red{'data-ng-repeat': 'message in errors.hours200'}
                200%: {{message}}
              .label.background-red{'data-ng-repeat': 'message in errors.hourstravel'}
                Travel: {{message}}
.cell.panel
  .header
    Monthly Time Report
  .body
      %table.datasheet
        %tr
          %td
            .label.float-right.background-blue
              100%
            .label.float-right.background-orange
              150%
            .label.float-right.background-red
              200%
            .label.float-right.background-green
              Travel
            .label.float-left.background-blue
              Day
        %tr{'data-ng-repeat': 'hour in hours|orderBy:["day","id"]'}
          %td{'data-ng-if': '!hour.edit', 'data-ng-click': 'hour.edit=!hour.edit'}
           .label.float-right.background-blue{'data-ng-if': 'hour.hours'}
             {{hour.hours}}
           .label.float-right.background-orange{'data-ng-if': 'hour.hours150'}
             {{hour.hours150}}
           .label.float-right.background-red{'data-ng-if': 'hour.hours200'}
             {{hour.hours200}}
           .label.float-right.background-green{'data-ng-if': 'hour.hourstravel'}
             {{hour.hourstravel}}
           .label.float-left.background-blue
             {{hour.day}}
           {{hour.task}}
          %td{'data-ng-if': 'hour.edit'}
           %form
             .cell
              .col.width-1of12
                .cell
                  %input.text.background-blue.width-10of12{'data-ng-class': '{"invalid":errors.day}', placeholder: 'Day', 'data-ng-model': 'hour.day'}
              .col.width-6of12
                .cell
                  %input.text.width-11of12{'data-ng-class': '{"invalid":errors.task}', placeholder: 'Task', 'data-ng-model': 'hour.task'}
              .col.width-1of12
                .cell
                  %input.text.background-blue.width-10of12{'data-ng-class': '{"invalid":errors.hours}', placeholder: '100%', 'data-ng-model': 'hour.hours'}
              .col.width-1of12
                .cell
                  %input.text.background-orange.width-10of12{'data-ng-class': '{"invalid":errors.hours150}', placeholder: '150%', 'data-ng-model': 'hour.hours150'}
              .col.width-1of12
                .cell
                  %input.text.background-red.width-10of12{'data-ng-class': '{"invalid":errors.hours200}', placeholder: '200%', 'data-ng-model': 'hour.hours200'}
              .col.width-1of12
                .cell
                  %input.text.background-green.width-10of12{'data-ng-class': '{"invalid":errors.hourstravel}', placeholder: 'Travel', 'data-ng-model': 'hour.hourstravel'}
              .col.width-1of12
                .cell
                 %a.button.width-6of12{'data-ng-click': 'updatehour(hour)'}
                   Edit
                 %a.button.width-6of12{'data-ng-click': 'deletehour(hour)'}
                   Delete
        %tr
          %td
            .label.float-right.background-blue{'data-ng-bind': 'hours.sum("hours") + "h (" + hours.sum("hours")/8 +" d)"', 'data-ng-if': 'hours.sum("hours") > 0'}
            .label.float-right.background-orange{'data-ng-bind': 'hours.sum("hours150") + "h (" + hours.sum("hours150")/8 +" d)"', 'data-ng-if': 'parseFloat(hours.sum("hours150")) > 0'}
            .label.float-right.background-red{'data-ng-bind': 'hours.sum("hours200") + "h (" + hours.sum("hours200")/8 +" d)"', 'data-ng-show': 'hours.sum("hourstravel") > 0'}
            .label.float-right.background-green{'data-ng-bind': 'hours.sum("hourstravel") + "h (" + hours.sum("hourstravel")/8 +" d)"', 'data-ng-show': 'hours.sum("hourstravel") > 0'}
            .label.float-right.background-black
              Total

