<!DOCTYPE html>
<html>
  <head>
    <title>YAYATA</title>
    <link href='css/cascade.css' rel='stylesheet' />
    <link href='css/cascade.css' rel='stylesheet' />
    <link href='css/app.css' rel='stylesheet' />
    <script src='js/angular.js'></script>
    <script src='js/angular-resource.min.js'></script>
    <script src='js/angular-route.min.js'></script>
    <script src='js/angular-cookies.min.js'></script>
    <script src='js/angular-sanitize.min.js'></script>
    <script src='settings.js'></script>
    <script src='js/controllers.js'></script>
    <script src='js/services.js'></script>
    <script src='js/urls.js'></script>
    <script src='js/app.js'></script>
  </head>
</html>
<body class='narrow' data-ng-app='Yata'>
  <div class='site-center'>
    <div class='site-body'>
      <div class='site-header'>
        <div class='col width-fill mobile-width-fill'>
          <div class='cell'>
            <div class='col cav'>
              <ul class='col nav'>
                <li>
                  <a href='#/timesheets'>Timesheets</a>
                </li>
                <li>
                  <a data-ng-if='$root.user.id' href='#/logout'>
                    Log Out ({{$root.user.username}})
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='col'>
        <div class='cell'>
          <div class='col'>
            <div class='cell panel' data-ng-repeat='error in $root.errors' data-ng-show='!hide'>
              <div class='header background-red'>
                <a class='icon icon-16 icon-remove-sign color-white float-right' data-ng-click='hide=true'></a>
                Error {{error.code}}
              </div>
              <div class='body' data-ng-if='error.message'>
                <div class='col'>
                  <div class='cell'>
                    <span class='icon icon-16 icon-warning-sign color-red float-left'></span>
                    <div class='col'>
                      <div class='cell'>
                        {{error.message}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col' data-ng-view=''></div>
    </div>
  </div>
</body>
